@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
@import './pages/base';
//
.products-grid {
    > .section-container {
        //padding-bottom: 0;
        //border-bottom: $base-border;
    }
    &:last-child {
        > .section-container {
            //padding-bottom: $page-section-padding;
            //border-bottom: $base-border;
        }
    }
}

.find-product,
.find-dealer {
    .button {
        margin: 0;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    select {
        margin: 0;
    }
    @include breakpoint($breakpoint-md) {
        .column {
            margin-top: $gap !important;
        }
        .visibility-hidden {
            display: none;
        }
        .button {
            margin-top: $gap-half;
        }
    }
}

.find-product {
    background-color: $secondary-background-color;
    .serach-form {
        &.search-standard {}
        &.search-advanced {}
    }
    .advanced-search {
        padding-top: $gap;
        .row {
            padding-top: $gap;
        }
        .expander-trigger {
            text-decoration: none;
            //@include hoverLink($base-brand-color);
            .label {
                padding-right: $gap-xs;
                padding-bottom: 2px;
            }
        }
        .icon {
            transform: rotate(90deg);
            font-size: $small-font-size;
            @include customTransitionTiming($easeOutCubic);
        }
        &.is-expanded {
            > a .icon-container {
                .icon {
                    transform: rotate(-90deg);
                }
            }
        }
    }
    @include breakpoint($breakpoint-md) {
        .search-advanced {
            margin-top: $gap;
        }
    }
}

.find-dealer {
    color: $secondary-font-color;
    background-color: $quinary-background-color;
    hr {
        border-color: $secondary-border-color;
    }
    .playlist {
        > li {
            border-color: $secondary-border-color;
        }
        .button {
            margin-top: $gap-half;
        }
        @include breakpoint($breakpoint-md) {
            margin-top: $gap-half;
        }
    }
}

.hero-image {
    .background-image {
        min-height: $hero-image-min-height;
    }
    .row {
        .background-image {
            min-height: $hero-image-double-min-height;
        }
        .text {
            width: 80%;
            @include breakpoint($breakpoint-md) {
                width: calc(100% - #{$gap * 2});
            }
        }
    }
    .card {
        width: calc(100% - #{$page-section-padding * 2} - #{$gap * 2});
        .card-text {
            padding-right: $gap;
        }
    }
    .card,
    .text {
        color: $hero-image-color;
        text-shadow: $hero-image-text-shadow;
        @include centerElement();
        @extend .letter-spacing-small;
        @include headings {
            @extend .bold;
        }
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    .text {
        width: 60%;
        //text-transform: $hero-image-text-transform;
        > *:last-child {
            margin-bottom: 0;
        }
        @include breakpoint($breakpoint-md) {
            width: calc(100% - #{$page-section-padding} - #{$gap * 2});
        }
    }
    .icon-circle {
        @include centerHorizontal(true);
    }
    .button {
        margin-top: $gap-md;
    }
}

.subscribe-section {
    .subscribe-form {
        padding: $page-section-padding;
        background-color: $quaternary-background-color;
        text-align: center;
        color: $light-font-color;
        input,
        .button {
            margin: 0;
        }
        input {
            border: none;
        }
        .button {}
        @include headings {
            @extend .bold;
        }
        .form-elements {
            width: 60%;
            display: table;
            table-layout: fixed;
            position: relative;
            margin: 0 auto;
            padding-top: $gap-half;
            > div,
            a {
                display: table-cell;
                overflow: hidden;
                vertical-align: middle;
            }
            > div {
                width: 70%;
            }
            > a {
                width: 30%;
            }
            @include breakpoint($breakpoint-md) {
                width: 80%;
            }
            @include breakpoint($breakpoint-sm) {
                width: 100%;
                > div {
                    width: 60%;
                }
                > a {
                    width: 40%;
                }
            }
        }
        @include breakpoint($breakpoint-sm) {
            padding-left: $gap;
            padding-right: $gap;
        }
    }
    > .section-container {
        &:nth-child(2) {
            padding-top: 0;
            margin-top: -$page-section-padding;
        }
        > .background-image {
            @include breakpoint($breakpoint-md) {
                min-height: 540px;
            }
        }
    }
}

.text-section {
    .section-container {
        width: 60%;
        text-align: center;
        padding: 0;
        padding-bottom: $page-section-padding;
        @extend .large;
        @include breakpoint($breakpoint-lg) {
            width: 80%;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.logos-grid {
    .section-container {
        //padding: 0;
        //padding-top: $gap-half;
    }
    .background-image {
        min-height: 100px;
        @include scaleBackground();
    }
}

.section-title {
    @extend .bold;
    text-align: center;
    padding-bottom: $gap-double;
    margin: 0;
    .products-grid &,
    .accessories-grid & {
        margin-bottom: $gap-double;
        border-bottom: $base-border;
    }
    .find-product & {
        padding-bottom: $gap-xl;
        @include breakpoint($breakpoint-md) {
            padding-bottom: $gap-double;
        }
    }
}

.news-grid {
    .card-contact {
        padding-top: 0;
    }
}

.buttons-section {
    .section-container {
        text-align: center;
        .button {
            margin-right: $gap;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .button {
        width: 30%;
        padding: $gap;
    }
}

.technical-specification {
    background-color: $secondary-background-color;
    .specificationsimage {
        margin-bottom: $gap;
        padding-bottom: $gap;
        border-bottom: $secondary-border;
        .background-image {
            height: 400px;
            background-size: contain;
        }
    }
    .logos-grid {
        .background-image {
            background-size: contain;
            .no-touch & {
                &:hover {
                    transform: none;
                }
            }
        }
    }
}

.support-section {
    background-color: $tertiary-background-color;
}

.product-support-section {
    background-color: $senary-background-color;
    a {
        @include hoverLink($light-font-color);
    }
    .icon {
        display: inline-block;
        margin-left: $gap-half;
    }
}

.technical-specification,
.product-support-section {
    @extend .large;
    .section-title {
        margin-bottom: $gap-double;
        border-bottom: $secondary-border;
    }
}

.arrow-down {
    z-index: 3;
    position: fixed;
    bottom: $gap-double;
    //width: 100%;
    @include centerHorizontal();
    text-align: center;
    will-change: auto;
    .icon {
        color: $base-font-color;
        //text-shadow: $base-text-shadow;
        cursor: pointer;
        position: relative;
        display: inline-block;
        //color: $light-font-color;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
    @include breakpoint($breakpoint-lg) {
        display: none;
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            text-align: center;
            margin-bottom: $gap-double;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
        }
        &-image,
        &-video {
            margin-bottom: $gap-double;
        }
    }
}

.audio {
    &.playing {
        animation: pulse 1s linear 0s infinite alternate;
        color: $icon-circle-hover-color;
    }
}

@keyframes pulse {
    0% {
        background-color: $icon-circle-hover-background-color;
    }
    100% {
        background-color: $icon-circle-background-color;//darken($icon-circle-hover-background-color, 40%);
    }
}

body {
    .content-wrapper.use-animation {
        .page-section {
            &:not(.active) {
                .section-container {
                    visibility: hidden;
                    @include breakpoint($breakpoint-lg) {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
