@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
@import './pages/base';
//
.products-grid {
    > .section-container {
        //padding-bottom: 0;
        border-bottom: $base-border;
    }
    &:last-child {
        > .section-container {
            //padding-bottom: $page-section-padding;
            border-bottom: $base-border;
        }
    }
}

.find-product {
    background-color: $secondary-background-color;
    .button {
        margin: 0;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        .no-touch & {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    select {
        margin: 0;
    }
    .serach-form {
        &.search-standard {}
        &.search-advanced {}
    }
    .advanced-search {
        padding-top: $gap;
        .expander-trigger {
            @include hoverLink($white);
        }
        .row {
            padding-top: $gap;
        }
    }
}

.hero-image {
    .section-container {
        padding-left: 0;
        padding-right: 0;
    }
    .background-image {
        min-height: $hero-image-min-height;
    }
    .text {
        color: $hero-image-color;
        text-shadow: $hero-image-text-shadow;
        text-transform: $hero-image-text-transform;
        @include centerElement();
        @extend .letter-spacing-small;
        @extend .bold;
        margin: 0;
    }
}

.text-section {
    .section-container {
        width: 60%;
        text-align: center;
        padding: 0;
        @extend .large;

        @include breakpoint($breakpoint-lg) {
            width: 80%;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.logos-grid {
    .background-image {
        min-height: 100px;
        // background-size: contain;
        @include scaleBackground();
    }
}

.section-title {
    @extend .bold;
    text-align: center;
    padding-bottom: $gap-double;
    margin: 0;
    .products-grid & {
        margin-bottom: $gap-double;
        border-bottom: $base-border;
    }
    .find-product & {
        padding-bottom: $gap;
    }
}

.arrow-down {
    position: absolute;
    bottom: $gap-double;
    width: 100%;
    text-align: center;
    will-change: auto;
    .icon {
        cursor: pointer;
        position: relative;
        display: inline-block;
        color: $white;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            text-align: center;
            margin-bottom: $gap-double;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
        }
        &-image,
        &-video {
            margin-bottom: $gap-double;
        }
    }
}
