@import 'variables';
@import 'helper';
@import './lib/base';
@import './core/base';
@import './components/base';
//
.products-grid {
    > .section-container {
        //padding-bottom: 0;
        //border-bottom: $base-border;
    }
    &:last-child {
        > .section-container {
            //padding-bottom: $page-section-padding;
            //border-bottom: $base-border;
        }
    }
}

.find-product,
.find-dealer {
    .button {
        margin: 0;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    select {
        margin: 0;
    }
    @include breakpoint($breakpoint-md) {
        .column {
            margin-top: $gap !important;
        }
        .visibility-hidden {
            display: none;
        }
        .button {
            margin-top: $gap-half;
        }
    }
}

.find-product {
    background-color: $secondary-background-color;
    .serach-form {
        &.search-standard {}
        &.search-advanced {}
    }
    .advanced-search {
        padding-top: $gap;
        .row {
            padding-top: $gap;
        }
        .expander-trigger {
            text-decoration: none;
            //@include hoverLink($base-brand-color);
            .label {
                padding-right: $gap-xs;
                padding-bottom: 2px;
            }
        }
        .icon {
            transform: rotate(90deg);
            font-size: $small-font-size;
            @include customTransitionTiming($easeOutCubic);
        }
        &.is-expanded {
            > a .icon-container {
                .icon {
                    transform: rotate(-90deg);
                }
            }
        }
        .title {
            margin-bottom: $gap;
        }
        label:last-child {
            margin-bottom: 0;
        }
    }
    @include breakpoint($breakpoint-md) {
        .search-advanced {
            margin-top: $gap;
        }
    }
}

.find-dealer {
    color: $light-font-color;
    background-color: $color-dark-blue;
    hr {
        border-color: $secondary-border-color;
    }
    .playlist {
        > li {
            color: #ABB2B9;
            @extend .medium;
            border-color: #17202A;
            &:first-child {
                margin-bottom: $gap-md;
            }
        }
        .button {
            margin-top: $gap-half;
        }
        @include breakpoint($breakpoint-md) {
            margin-top: $gap-half;
        }
    }
    select {
        margin-bottom: $gap-double;
    }
    .load-more {
        margin-top: $gap-md + $gap-half;
        @include breakpoint($breakpoint-md) {
            margin-bottom: $gap;
        }
    }
    .row > .column {
        &:nth-child(2) {
            @extend .large;
        }
    }
}

.hero-image {
    .background-image {
        min-height: $hero-image-min-height;
        @at-root .height-small#{&} {
            min-height: $hero-image-small-min-height;
        }
    }
    .row {
        .background-image {
            min-height: $hero-image-double-min-height;
        }
        .text {
            width: 80%;
            @include breakpoint($breakpoint-md) {
                width: calc(100% - #{$gap * 2});
            }
        }
        .button {
            margin-top: $gap-half;
        }
    }
    .card {
        width: calc(100% - #{$page-section-padding * 2} - #{$gap * 2});
        .card-text {
            padding-right: $gap;
        }
    }
    .card,
    .text {
        color: $hero-image-color;
        text-shadow: $hero-image-text-shadow;
        @include centerElement();
        @extend .letter-spacing-small;
        @include sharpen();
        @extend .large;
        @include headings {
            @extend .bold;
        }
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    .text {
        width: 60%;
        //text-transform: $hero-image-text-transform;
        > *:last-child {
            margin-bottom: 0;
        }
        @include breakpoint($breakpoint-md) {
            width: calc(100% - #{$page-section-padding} - #{$gap * 2});
        }
    }
    .icon-circle {
        @include centerHorizontal(true);
    }
    .button {
        margin-top: $gap-md;
    }
}

.subscribe-section {
    .subscribe-form {
        padding: $page-section-padding;
        background-color: $quaternary-background-color;
        text-align: center;
        color: $light-font-color;
        input,
        .button {
            margin: 0;
        }
        input {
            border: none;
        }
        .button {}
        @include headings {
            @extend .bold;
        }
        .form-elements {
            width: 60%;
            display: table;
            table-layout: fixed;
            position: relative;
            margin: 0 auto;
            padding-top: $gap-half;
            > div,
            a {
                display: table-cell;
                overflow: hidden;
                vertical-align: middle;
            }
            > div {
                width: 70%;
            }
            > a {
                width: 30%;
            }
            @include breakpoint($breakpoint-md) {
                width: 80%;
            }
            @include breakpoint($breakpoint-sm) {
                width: 100%;
                > div {
                    width: 60%;
                }
                > a {
                    width: 40%;
                }
            }
        }
        @include breakpoint($breakpoint-sm) {
            padding-left: $gap;
            padding-right: $gap;
        }
    }
    > .section-container {
        &:nth-child(2) {
            padding-top: 0;
            margin-top: -$page-section-padding;
        }
        > .background-image {
            @include breakpoint($breakpoint-md) {
                min-height: 540px;
            }
        }
    }
}

.hero-text-section {
    .section-container {
        width: 60%;
        text-align: center;
        padding: 0;
        padding-bottom: $page-section-padding;
        @extend .large;
        @include breakpoint($breakpoint-lg) {
            width: 80%;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.logos-grid {
    .section-container {
        //padding: 0;
        //padding-top: $gap-half;
    }
    .background-image {
        min-height: 100px;
        @include scaleBackground();
    }
}

.section {
    &-title,
    &-subtitle {
        text-align: center;
        padding-bottom: $gap-double;
        margin: 0;
    }
    &-title {
        @extend .bold;
        text-align: center;
        padding-bottom: $gap-double;
        margin: 0;
        .products-grid &,
        .accessories-grid & {
            margin-bottom: $gap-double;
            border-bottom: $base-border;
        }
        .find-product & {
            padding-bottom: $gap-xl;
            @include breakpoint($breakpoint-md) {
                padding-bottom: $gap-double;
            }
        }
    }
    &-subtitle {
        margin-top: -$gap;
    }
}

.news-grid {
    .card-contact {
        padding-top: 0;
    }
    .row {
        @include transition(opacity);
        &.loading {
            opacity: 0.5;
        }
    }
}

.documents-list,
.news-list {
    .section-title {
        text-align: left;
    }
    .icon {
        margin-left: $gap-half;
    }
    .button {
        width: 100%;
        .icon {
            font-size: $button-big-font-size - 2px;
        }
    }
}

.documents-list {
    .section-title {
        padding-bottom: $gap;
    }
}

.news-list {
    .section-title {
        padding-bottom: 0;
    }
    .card {
        border-bottom: $base-border;
        .card-text {
            @extend .medium;
            @extend .small;
        }
    }
    .button {
        margin-top: $gap;
    }
}

.article-section {
    article {
        .image {
            margin-bottom: $gap-double;
        }
        .title,
        .subtitle,
        p {
            margin-bottom: $gap-md;
        }
        p {
            @extend .large;
        }
        .icon {
            font-size: 14px;
        }
        .article-details {
            @extend .small;
            @extend .medium;
            margin-bottom: $gap-lg;
        }
        .article-bottom {
            .addthis_toolbox {
                @include breakpoint($breakpoint-lg, false) {
                    position: relative;
                    top: 50%;
                    margin-top: -16px;
                    float: right;
                }
                a {
                    line-height: 0;
                    padding: 0;
                    margin: 0;
                    padding-left: $gap-xs;
                    &:first-child {
                        padding-left: 0;
                    }
                    > span {
                        border-radius: 50%;
                        > svg {
                            padding: 4px;
                        }
                    }
                }
            }
            .card-contact {
                .role {
                    @extend .normal;
                }
            }
        }
        .next-article {
            margin-top: $gap-double;
            @include border($base-brand-color, top, 3px);
            @include border($base-brand-color, bottom, 3px);

            .text {
                @extend .medium;
                margin: $gap-md 0;
            }
        }
    }
}

.buttons-section {
    .section-container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-top: $gap;
        @extend .button-large;
        .button {
            margin-top: $gap;
            margin-right: $gap;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .button {
        width: 30%;
        padding: $gap;
    }
}

.product-features-section {
    background-color: $tertiary-background-color;
    .specificationsimage {
        //margin-bottom: $gap;
        //padding-bottom: $gap;
        //border-bottom: $secondary-border;
        .background-image {
            height: 400px;
            background-size: contain;
        }
    }
    .logos-grid {
        .background-image {
            background-size: contain;
            .no-touch & {
                &:hover {
                    transform: none;
                }
            }
        }
    }
    hr {
        border-color: $secondary-border-color;
        margin-bottom: $gap-xl;
    }
    .default-list {
        padding-bottom: $gap-xl;
        a {
            @include hoverLink($base-font-color);
            line-height: 1;
        }
        p {
            margin-bottom: 0;
        }
        > li {
            margin-bottom: $gap;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .row > .column {
        overflow: visible;
    }
    + .product-tech-spec-section {
        > .section-container {
            padding-top: 0;
        }
    }
}

.product-tech-spec-section {
    background-color: $tertiary-background-color;
    > .section-container {
        //padding-top: 0;
        padding-bottom: 0;
    }
    .button {
        background-color: $secondary-background-color;
        border: none;
        margin-bottom: $gap-double;
    }
    .tech-spec-container {
        display: none;
        //margin-top: $gap-double;
        padding-bottom: $gap-double;
    }
}

.support-section {
    background-color: $secondary-background-color;
}

.teaser-text-section {
    >.section-container {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.list-support-section {
    > .section-container {
        padding-bottom: 0;
    }
    .show-old {
        text-align: center;
        margin: $gap-double 0;
    }
    .expander-content {
        margin-bottom: $gap-double;
    }
}

.documents-section {
    background-color: $senary-background-color;
    color: $light-font-color;
    .icon {
        display: inline-block;
        margin-left: $gap-half;
    }
    // .section-title {
    //     margin-bottom: $gap-double;
    //     border-bottom: $secondary-border;
    // }
    li {
        @extend .bold;
        a {
            @include hoverLink($light-font-color);
        }
    }
    .button {
        margin-top: $gap-xs;
    }
    .row.support-page {
        > .column {
            @include breakpoint($breakpoint-md, false) {
                margin-right: auto;
                margin-left: auto;
                &:nth-child(1) {
                    > ul {
                        float: right;
                    }
                }
            }
            @include breakpoint($breakpoint-md) {
                &:nth-child(1) {
                    margin-bottom: $gap;
                }
            }
        }
    }
}

.product-features-section,
.product-support-section {
    @extend .large;
}

.videos-section {
    background-color: $secondary-background-color;
}

.faq-section,
.careers-section {
    ul.accordion {
        border-left: none;
        border-right: none;
        li.menu-item {
            > a {
                padding: $gap 0;
                @extend .bold;
                color: $base-brand-color;
            }
            .no-touch & {
                &:hover {
                    > a {
                        color: $base-brand-color-dark;
                    }
                }
            }
        }
        .accordion-content {
            padding: 0 0 $gap;
        }
    }
    .faq-title,
    .careers-title {
        @extend .bold;
        margin-bottom: $gap;
        margin-top: $gap-double;
        &:first-child {
            margin-top: $gap;
        }
    }
}

.compare-products-section {
    background-color: #F8F9F9;
    .no-items,
    .compare-info {
        text-align: center;
    }
    .compare-info {
        @extend .large;
        margin-bottom: 0;
        margin-top: $gap-double;
        padding: 0 $gap-double;
        @include breakpoint($breakpoint-lg) {
            padding: 0;
        }
    }
    .card-link {
        z-index: 1;
    }
    .compare-row-remove {
        a {
            display: block;
            float: right;
            line-height: 0;
        }
    }
    .icon-circle-remove {
        @include createCircle($secondary-background-color, $color: $quinary-background-color, $background-hover-color: $secondary-background-color-dark);
        display: inline-block;
        > .icon {
            font-size: $small-font-size;
        }
    }
}

.arrow-down {
    z-index: 3;
    position: fixed;
    bottom: $gap-double;
    //width: 100%;
    @include centerHorizontal();
    text-align: center;
    will-change: auto;
    .icon {
        color: $base-font-color;
        //text-shadow: $base-text-shadow;
        cursor: pointer;
        position: relative;
        display: inline-block;
        //color: $light-font-color;
        font-size: $gap-double;
        //display: none;
        //@include breakpoint($breakpoint-lg,false) {
        animation: bounce 1s ease-out 0s infinite alternate;
        animation-timing-function: $easeOutQuad;
        @include forceHarwareAcceleration();
        //}
    }
    @include breakpoint($breakpoint-lg) {
        display: none;
    }
}

@keyframes bounce {
    0% {
        bottom: -$gap;
    }
    100% {
        bottom: 0;
    }
}

.page-image {
    .section-container {
        height: 30vh;
        overflow: hidden;
        @include breakpoint($breakpoint-lg) {
            height: auto;
            overflow: visible;
        }
    }
    picture {
        @include centerVertical();
        @include breakpoint($breakpoint-lg) {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    &-text-overlay {
        @include centerElement();
        color: $secondary-font-color;
        text-align: center;
        > .page-title {
            text-shadow: $page-image-text-shadow;
        }
    }
}

.page-body {
    &-wrapper {
        max-width: $page-body-max-width;
        margin: 0 auto;
    }
    .page {
        &-summary {
            text-align: center;
            margin-bottom: $gap-double;
        }
        &-date {
            font-size: $small-font-size;
            margin-top: $gap-xl;
            line-height: 1;
        }
        &-image,
        &-video {
            margin-bottom: $gap-double;
        }
    }
}

aside + aside {
    margin-top: $gap;
    padding-top: $gap;
    @include border($base-brand-color, top, 3px);
}

.audio {
    &.playing {
        animation: pulse 1s linear 0s infinite alternate;
        color: $icon-circle-hover-color;
    }
}

@keyframes pulse {
    0% {
        background-color: $icon-circle-hover-background-color;
    }
    100% {
        background-color: $icon-circle-background-color; //darken($icon-circle-hover-background-color, 40%);
    }
}

body {
    .content-wrapper.use-animation {
        .page-section {
            &:not(.active) {
                .section-container {
                    visibility: hidden;
                    @include breakpoint($breakpoint-lg) {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
