.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: $button-color;
    background-color: $button-background-color;
    border-radius: $button-border-radius;
    @include setFont($button-font-name);
    //@include border($button-border-color);
    border: $button-border;
    transition: $base-transition;
    padding: $button-padding;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover,
    &:focus {
        outline: none;
    }
    .no-touch & {
        @include transition();
        &:hover {
            color: $button-hover-color;
            background-color: $button-hover-background-color;
        }
    }
    &.selected {
        color: $button-hover-color;
        background-color: $button-hover-background-color;
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
    vertical-align: middle;
    .label,
    .icon-container {
        display: inline-block;
    }
}

.button {
    &-solid {
        color: $button-solid-color;
        background-color: $button-solid-background-color;
        text-transform: $button-solid-text-transform;
        border: $button-solid-border;
        padding: $button-solid-padding;
    }
    &-square {
        border-radius: 0;
        padding: $button-square-padding;
        @extend .letter-spacing-small;
        text-transform: $button-square-text-transform;
        &:not(.button-dark):not(.button-light):not(.button-dark-blue):not(.button-light-secondary) {
            color: $button-square-color;
            background-color: $button-square-background-color;
            border: $button-square-border;
        }
        &.button-dark {
            color: $button-square-dark-color;
            background-color: $button-square-dark-background-color;
            border: $button-square-dark-border;
        }
        &.button-light {
            color: $button-square-light-color;
            background-color: $button-square-light-background-color;
            border: $button-square-light-border;
        }
        &.button-dark-blue {
            color: $light-font-color;
            background-color: #2E4053;
            border: none;
        }
        &.button-light-secondary {
            color: #808B96;
            background-color: $button-square-light-background-color;
            border: none;
        }
        //@include animateLine();
        .no-touch & {
            //@include transition();
            &:hover {
                &:not(.button-dark):not(.button-light):not(.button-light-secondary) {
                    color: $button-square-hover-color;
                    background-color: $button-square-hover-background-color;
                    //text-decoration: underline;
                }
                &.button-dark {
                    color: $button-square-dark-hover-color;
                    background-color: $button-square-dark-hover-background-color;
                    //text-decoration: underline;
                }
                &.button-light {
                    color: $button-square-light-hover-color;
                    background-color: $button-square-light-hover-background-color;
                    //text-decoration: underline;
                }
                &.button-light-secondary {
                    color: #808B96;
                    background-color: #b6bdc4;
                    //text-decoration: underline;
                }
            }
        }
    }
    &-small {
        font-size: $button-small-font-size;
        @extend .bold;
    }
    &-big {
        padding: $button-big-padding;
        font-size: $button-big-font-size;
        border: $button-big-border;
    }
    &-brand-color {
        border: none;
        color: $button-brand-color;
        background-color: $button-brand-background-color;
        .no-touch & {
            &:hover {
                color: $button-brand-hover-color;
                background-color: $button-brand-hover-background-color;
            }
        }
    }
}

.rounded-corners {
    border-radius: $button-border-radius !important;
}

.use-button-font {
    @include setFont($button-font-name);
}

.load-more {
    margin-top: $gap-double;
    width: 100%;
    .loader {
        top: 2px;
        display: none;
    }
    &.loading {
        pointer-events: none;
        .text {
            display: none;
        }
        .loader {
            display: inline-block;
        }
    }
    .text {
        > .icon {
            position: relative;
            top: 1px;
        }
    }
}
