.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: $button-color;
    background-color: $button-background-color;
    border-radius: $button-border-radius;
    @include setFont($button-font-name);
    //@include border($button-border-color);
    border: $button-border;
    transition: $base-transition;
    padding: $button-padding;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover,
    &:focus {
        outline: none;
    }
    .no-touch & {
        @include transition();
        &:hover {
            color: $button-hover-color;
            background-color: $button-hover-background-color;
        }
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
    vertical-align: middle;
    .label,
    .icon-container {
        display: inline-block;
    }
}

.button {
    &-solid {
        color: $button-solid-color;
        background-color: $button-solid-background-color;
        text-transform: $button-solid-text-transform;
        border: $button-solid-border;
        padding: $button-solid-padding;
    }
    &-square {
        border-radius: 0;
        padding: $button-square-padding;
        @extend .letter-spacing-small;
        text-transform: $button-square-text-transform;
        &:not(.button-dark) {
            color: $button-square-color;
            background-color: $button-square-background-color;
            border: $button-square-border;
        }
        &.button-dark {
            color: $button-square-dark-color;
            background-color: $button-square-dark-background-color;
            border: $button-square-dark-border;
        }
        //@include animateLine();
        .no-touch & {
            //@include transition();
            &:hover {
                &:not(.button-dark) {
                    color: $button-square-hover-color;
                    background-color: $button-square-hover-background-color;
                    //text-decoration: underline;
                }
                &.button-dark {
                    color: $button-square-dark-hover-color;
                    background-color: $button-square-dark-hover-background-color;
                    //text-decoration: underline;
                }
            }
        }
    }
    &-big {
        padding: $button-big-padding;
        font-size: $button-big-font-size;
        border: $button-big-border;
    }
    &-brand-color {
        border: none;
        color: $button-brand-color;
        background-color: $button-brand-background-color;
        .no-touch & {
            &:hover {
                color: $button-brand-hover-color;
                background-color: $button-brand-hover-background-color;
            }
        }
    }
}

.use-button-font {
    @include setFont($button-font-name);
}
