.primary-background-color {
	background-color: $base-background-color;
}

.secondary-background-color {
	background-color: $secondary-background-color;
}

.tertiary-background-color {
	background-color: $tertiary-background-color;
}

.primary-color {
	color: $base-brand-color !important;
}

.brand-color {
	color: $base-brand-color;
}

.brand-color-secondary {
	color: $secondary-brand-color;
}

.secondary-font-color {
	color: $secondary-font-color;
}