@font-face {
    font-family: 'icomoon';
    src: url($path-fonts + 'icomoon/icomoon.eot?1amafa');
    src: url($path-fonts + 'icomoon/icomoon.eot?1amafa#iefix') format('embedded-opentype'), url($path-fonts + 'icomoon/icomoon.ttf?1amafa') format('truetype'), url($path-fonts + 'icomoon/icomoon.woff?1amafa') format('woff'), url($path-fonts + 'icomoon/icomoon.svg?1amafa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*[class^="icon-"], [class*=" icon-"]*/

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-circle {
    @include createCircle($icon-circle-background-color, $icon-circle-size, $icon-circle-color, $icon-circle-hover-background-color, $icon-circle-hover-color, $icon-circle-border);
    display: inline-block;
    > .icon {
        font-size: $icon-circle-icon-size;
    }
}

.icon-center {
    @include centerElement();
    line-height: 0;
}

.icon-container {
    &.icon-big {
        font-size: $icon-big-font-size;
        position: relative;
        &:not(.icon-feature) {
            bottom: -6px;
        }
        &.icon-feature {
            //bottom: 3px;
        }
    }
}

//-----------
.icon-konftel-configuration-auto-provisioning:before {
  content: "\e900";
}
.icon-konftel-dect:before {
  content: "\e901";
}
.icon-konftel-Touchscreen:before {
  content: "\e902";
}
.icon-konftel-UC:before {
  content: "\e903";
}
.icon-konftel-web-based-configuration:before {
  content: "\e906";
}
.icon-konftel-event:before {
  content: "\e928";
}
.icon-konftel-large-meetings:before {
  content: "\e905";
}
.icon-konftel-medium-meetings:before {
  content: "\e907";
}
.icon-konftel-personal-meetings:before {
  content: "\e908";
}
.icon-konftel-small-meetings:before {
  content: "\e909";
}
.icon-konftel-battery:before {
  content: "\e90a";
}
.icon-konftel-conference-bridge:before {
  content: "\e90b";
}
.icon-konftel-features-generic:before {
  content: "\e912";
}
.icon-konftel-HD:before {
  content: "\e913";
}
.icon-konftel-LCD:before {
  content: "\e914";
}
.icon-konftel-line-bridge:before {
  content: "\e918";
}
.icon-konftel-NFC:before {
  content: "\e919";
}
.icon-konftel-SD-card:before {
  content: "\e91a";
}
.icon-konftel-software-upgrades:before {
  content: "\e91b";
}
.icon-konftel-bluetooth:before {
  content: "\e92b";
}
.icon-konftel-deskphone:before {
  content: "\e92c";
}
.icon-konftel-expansion-microphones:before {
  content: "\e92d";
}
.icon-konftel-headset:before {
  content: "\e92e";
}
.icon-konftel-mobile-cable:before {
  content: "\e92f";
}
.icon-konftel-NFC2:before {
  content: "\e930";
}
.icon-konftel-PA-connection:before {
  content: "\e931";
}
.icon-konftel-power-over-ethernet:before {
  content: "\e94b";
}
.icon-konftel-streaming:before {
  content: "\e94c";
}
.icon-konftel-analogue:before {
  content: "\e94d";
}
.icon-konftel-GSM-3G:before {
  content: "\e955";
}
.icon-konftel-SIP:before {
  content: "\e956";
}
.icon-konftel-USB:before {
  content: "\e957";
}
.icon-konftel-wireless:before {
  content: "\e958";
}
.icon-konftel-expansion-microphones2:before {
  content: "\e959";
}
.icon-konftel-headset2:before {
  content: "\e95a";
}
.icon-home5:before {
  content: "\e904";
}
.icon-envelop3:before {
  content: "\ea32";
}
.icon-bubble-smiley:before {
  content: "\eae3";
}
.icon-download4:before {
  content: "\ec83";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-checkmark3:before {
  content: "\ed71";
}
.icon-arrow-right2:before {
  content: "\edbc";
}
.icon-arrow-right3:before {
  content: "\edbd";
}
.icon-arrow-right4:before {
  content: "\edbe";
}
.icon-arrow-down:before {
  content: "\edbf";
}
.icon-arrow-down22:before {
  content: "\edc0";
}
.icon-arrow-down3:before {
  content: "\edc1";
}
.icon-arrow-down4:before {
  content: "\edc2";
}
.icon-arrow-left4:before {
  content: "\edc6";
}
.icon-phone:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e986";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

