@font-face {
    font-family: 'icomoon';
    src: url($path-fonts + 'icomoon/icomoon.eot?1amafa');
    src: url($path-fonts + 'icomoon/icomoon.eot?1amafa#iefix') format('embedded-opentype'), url($path-fonts + 'icomoon/icomoon.ttf?1amafa') format('truetype'), url($path-fonts + 'icomoon/icomoon.woff?1amafa') format('woff'), url($path-fonts + 'icomoon/icomoon.svg?1amafa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*[class^="icon-"], [class*=" icon-"]*/

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-circle {
    @include createCircle($icon-circle-background-color, $icon-circle-size, $icon-circle-color, $icon-circle-hover-background-color, $icon-circle-hover-color, $icon-circle-border);
    display: inline-block;
    > .icon {
        font-size: $icon-circle-icon-size;
    }
}

.icon-center {
    @include centerElement();
    line-height: 0;
}

//-----------
.icon-info2:before {
  content: "\ed64";
}
.icon-konftel-hd-audio:before {
  content: "\e902";
}
.icon-konftel-headphones:before {
  content: "\e903";
}
.icon-konftel-battery:before {
  content: "\e905";
}
.icon-konftel-phone:before {
  content: "\e906";
}
.icon-konftel-event:before {
  content: "\e901";
}
.icon-konftel-meeting-size:before {
  content: "\e900";
}
.icon-home5:before {
  content: "\e904";
}
.icon-music5:before {
  content: "\e94e";
}
.icon-connection:before {
  content: "\e97c";
}
.icon-envelop3:before {
  content: "\ea32";
}
.icon-bubble-smiley:before {
  content: "\eae3";
}
.icon-download4:before {
  content: "\ec83";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-checkmark3:before {
  content: "\ed71";
}
.icon-arrow-right4:before {
  content: "\edbe";
}
.icon-arrow-down:before {
  content: "\edbf";
}
.icon-arrow-down22:before {
  content: "\edc0";
}
.icon-arrow-down3:before {
  content: "\edc1";
}
.icon-arrow-down4:before {
  content: "\edc2";
}
.icon-arrow-left4:before {
  content: "\edc6";
}
.icon-battery-charging:before {
  content: "\ee5b";
}
.icon-radio-checked2:before {
  content: "\ee72";
}
.icon-circles:before {
  content: "\ee79";
}
.icon-music:before {
  content: "\e911";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e986";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-question:before {
  content: "\f128";
}
.icon-bluetooth-b:before {
  content: "\f294";
}