ul,
ol {
    &.reset {
        @include resetList();
    }
}

dl {
    margin: 0;
}

dt {
    font-weight: 600;
    margin: 0;
}

dd {
    margin: 0;
}

ul,
ol {
    &.list,
    &.playlist,
    &.featureslist,
    &.default-list,
    &.compare-list,
    &.dash {
        @include resetList();
    }
    &.compare-list {
        margin-top: $gap;
        @include border($dir: top) li {
            padding: $gap-half 0;
            @include border($dir: bottom)
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    &.playlist {
        li {
            // &:not(:last-child) {
            //     border-bottom: $base-border;
            //     padding-bottom: $gap-half;
            //     margin-bottom: $gap-half;
            // }
            border-bottom: $base-border;
            padding-bottom: $gap-md;
            margin-bottom: $gap-md;
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    &.featureslist {
        @extend .large;
        .icon {
            display: inline-block;
            //width: $gap-lg;
            width: $icon-big-font-size;
            margin-right: $gap-xs;
            text-align: center;
        }
    }
    &.default-list {
        padding-bottom: $gap;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &.dash {
        padding-left: $gap !important;
        li {
            @extend .medium;
            @extend .large;
            a {
                @extend .normal;
            }
            .icon {
                margin-left: $gap-xs;
            }
            &:before {
                display: inline-block;
                content: "-";
                width: $gap;
                margin-left: -$gap;
            }
        }
    }
}

&.list,
&.playlist,
&.featureslist,
&.default-list {
    > li {
        &:first-child {
            margin-bottom: $gap-xs;
        }
    }
}
