@media print {
    .top-content,
    #mobile-menu,
    .blocker,
    footer,
    #findadealer,
    .cookie,
    .overlay,
    .addthis_toolbox,
    .related-tags,
    .main-link,
    article .label-with-icon,
    article .video-container,
    .buttons-section,
    .youtube-section,
    .videos-section,
    .documents-section,
    .article-section .row .column:nth-child(2),
    .template-academyarticle .page-section:not(.academy-section) {
        display: none !important;
    }
    body {
        padding-top: 0 !important;
    }
    img.only-print {
        display: block !important;

        + .background-image {
        	display: none !important;
        }
    }
    .product-tech-spec-section {
    	.button {
    		display: none !important;
    	}
    	.tech-spec-container  {
    		display: block !important;
    	}
    }
}

.only-print {
    display: none !important; 
}
