body {
    color: $base-font-color;
    @include setFont($base-font-name);
    -webkit-font-smoothing: antialiased;
    //-webkit-text-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    header,
    footer,
    nav,
    .search-container .label {
        //@include setTextFormat($heading-font-family, $small-font-size, $heading-font-weight);
        @include setTextFormat($heading-font-family, $font-weight: $heading-font-weight);
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include setFont($heading-font-name);
    margin: 0 0 $gap-half;
}

.br-gr-r,
.br-gr-m,
.br-gr-b,
.br-gr-l {
    font-family: $brandon-grotesque;
}

.br-gr-r {
    font-weight: 400;
}

.br-gr-m {
    font-weight: 500;
}

.br-gr-b {
    font-weight: 700;
}

.br-gr-l {
    font-weight: 300;
}

.h1-extra {
    //@extend .light;
    @include setFont($heading-font-name);
    font-weight: $heading-light-font-weight;
    @include setFontSize($h1-extra-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h1-extra-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h1-extra-font-size-md);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h1-extra-font-size-ph);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h1-extra-font-size-sm);
    }
}

.h1-extra-secondary {
    //@extend .normal;
    @include setFont($heading-font-name);
    font-weight: $heading-font-weight;
    @include setFontSize($h1-extra-secondary-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h1-extra-secondary-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h1-extra-secondary-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h1-extra-secondary-font-size-sm);
    }
}

h1,
.h1 {
    @extend .bold;
    letter-spacing: $h1-letter-spacing;
    @include setFontSize($h1-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h1-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h1-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h1-font-size-sm);
    }
}

h2,
.h2 {
    //@extend .medium;
    letter-spacing: $h2-letter-spacing;
    @include setFontSize($h2-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h2-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h2-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h2-font-size-sm);
    }
}

.h2-small {
    letter-spacing: $h2-letter-spacing;
    @include setFontSize($h2-font-size-small);
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h2-font-size-small-ph);
    }
}

h3,
.h3 {
    @include setFontSize($h3-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h3-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h3-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h3-font-size-sm);
    }
}

h4,
.h4 {
    @include setFontSize($h4-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h4-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h4-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h4-font-size-sm);
    }
}

h5,
.h5 {
    @include setFontSize($h5-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h5-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h5-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h5-font-size-sm);
    }
}

h6,
.h6 {
    @include setFontSize($h6-font-size);
    @include breakpoint($breakpoint-lg-s) {
        @include setFontSize($h6-font-size-lg);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($h6-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h6-font-size-sm);
    }
}

p {
    margin: 0 0 $gap-half;
    &:empty {
        display: none;
    }
}

.quote-text {
    @include setFontSize($quote-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($quote-font-size);
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($quote-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($quote-font-size-sm);
    }
}

a,
.link {
    //@include setFont($link-font-name);
    color: $link-color;
    //text-decoration: underline;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:active,
    &:hover,
    &:focus {
        outline: none;
    }
    .no-touch & {
        @include transition(color);
        &:hover,
        &.hover {
            color: $link-hover-color;
        }
    }
    &[class^="sc"] {
        //sitecore fix
        color: #2B2B2B !important;
    }
}

a {
    &.text-link-title {
        @include hoverLink($base-font-color, $base-brand-color);
    }
    &.text-link {
        @extend .medium;
        @include hoverLink($base-font-color, $base-brand-color);
    }
    &.brand-link {
        @extend .medium;
        @include hoverLink($base-brand-color, $base-brand-color-dark);
    }
    &.transparent-link {
        color: inherit;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $gap 0;
    &.dashed {
        border-style: dashed;
    }
    &.thick {
        border-width: 4px;
    }
    &.visible-hidden {
        visibility: hidden;
    }
    &.divider {
        margin: 0;
        visibility: hidden;
    }
    &.brand {
        margin: $gap-half 0;
        border-width: 3px;
        width: $gap-double;
        border-color: $base-brand-color;
    }
    &.minimal {
        max-width: $page-section-max-width - ($page-section-padding*2);
        margin: 0 auto;
    }
    &.title-divider {
        margin: 0;
        padding: 0;
        margin-bottom: $gap-double;
    }
}

// .section {
//     &-title,
//     &-subtitle {
//         letter-spacing: 1px;
//     }
// }
.uppercase {
    text-transform: uppercase;
}

.link-icon {
    display: inline-block;
    line-height: 1;
}

.extra-small {
    @include setFontSize($extra-small-font-size);
}

.small {
    @include setFontSize($small-font-size);
}

.large {
    @include setFontSize($large-font-size);
}

.large-heading {
    @include setFontSize($large-font-size-heading);
}

.bold-large-heading {
    @include setFont($heading-font-name);
    font-weight: $heading-bold-font-weight;
    font-size: $large-font-size-heading !important;
}

.button-medium {
    @include setFontSize($button-font-size-medium);
}

.button-large {
    @include setFontSize($button-font-size-large);
}

.text-center {
    text-align: center;
}

.text-shadow {
    text-shadow: $base-text-shadow;
}

.italic {
    font-style: italic;
}

.light {
    //font-weight: $light-font-weight;
    font-family: $light-font-family;
    font-weight: $base-font-weight;
}

.normal {
    //font-weight: $base-font-weight;
    font-family: $regular-font-family;
    font-weight: $base-font-weight;
}

.medium {
    //font-weight: $medium-font-weight;
    font-family: $medium-font-family;
    font-weight: $base-font-weight;
}

b,
strong,
.bold {
    //font-weight: $bold-font-weight;
    font-family: $bold-font-family;
    font-weight: $base-font-weight;
}

//@include headings {
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    &.light,
    .light {
        font-family: $heading-font-family; //$light-font-family;
        font-weight: $heading-light-font-weight; //$base-font-weight;
    }
    &.normal,
    .normal {
        font-family: $heading-font-family; //$bold-font-family;
        font-weight: $heading-font-weight; //$base-font-weight;
    }
    &.medium,
    .medium {
        font-family: $heading-font-family; //$bold-font-family;
        font-weight: $heading-medium-font-weight; //$base-font-weight;
    }
    b,
    strong,
    &.bold,
    .bold {
        font-family: $heading-font-family; //$bold-font-family;
        font-weight: $heading-bold-font-weight; //$base-font-weight;
    }
    &.large,
    .large {
        @include setFontSize($large-font-size-heading);
    }
}

.color-default {
    color: $base-font-color;
}

.color-light {
    color: $white;
}

// .title-big {
//     @include setFont($heading-font-name);
//     //@include setFontSize($h1-font-size);
//     margin: 0 0 $gap-half;
//     //font-weight: $light-font-weight;
//     font-family: $light-font-family;
//     font-weight: $base-font-weight;
//     @include setFontSize($h1-font-size);
//     @include breakpoint($breakpoint-lg) {
//         @include setFontSize($h1-font-size-lg);
//     }
//     @include breakpoint($breakpoint-md) {
//         @include setFontSize($h1-font-size-md);
//     }
//     @include breakpoint($breakpoint-sm) {
//         @include setFontSize($h1-font-size-sm);
//     }
// }
.letter-spacing-small {
    letter-spacing: 1px;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag {
    background-color: #FBEBDA;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 4px;
    font-size: $extra-extra-small-font-size;
    display: inline-block;
    @extend .bold;
    &-light {
        background-color: $base-background-color;
        color: $base-font-color;
    }
}

blockquote {
    margin: $gap 0;
    padding: $gap 112px;
    position: relative;
    color: #8a8a8a;
    text-align: center;
    @include setFont($heading-font-name);
    @include setFontSize($blockquote-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($blockquote-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($blockquote-font-size-md);
        padding: $gap $gap-double;
    }
    @include breakpoint($breakpoint-ph) {
        @include setFontSize($blockquote-font-size-sm);
    }
    &:before,
    &:after {
        position: absolute;
        width: 60px;
        height: 60px;
        font-size: 80px;
        line-height: 1;
        top: 0;
    }
    &:before {
        left: 48px;
        content: "\201C";
        @include breakpoint($breakpoint-md) {
            left: 0;
        }
    }
    &:after {
        right: 48px;
        content: "\201D";
        @include breakpoint($breakpoint-md) {
            right: 0;
        }
    }
}
