@mixin breakTable() {
    > div {
        display: block !important;
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center !important;
    }
}

.card {
    position: relative;
    //height: 100%;
    background-color: $card-background-color;
    //@include border();
    &-image {
        overflow: hidden;
        position: relative;
        .background-image {
            min-height: $card-image-min-height;
            @include breakpoint($breakpoint-lg) {
                min-height: $card-image-min-height-lg;
            }
            @include breakpoint($breakpoint-sm) {
                min-height: $card-image-min-height-sm;
            }
            &.youtube-image {
                //fix for removing black borders around image
                background-size: 120%;
                @include breakpoint($breakpoint-md) {
                    background-size: 122%;
                }
            }
        }
    }
    /*
    &-icon {
        @include centerElement();
    }
    */
    &-date {
        width: 20%;
        float: left;
        height: 100%;
        padding-top: $gap;
        .month,
        .date {
            @extend .bold;
            margin: 0;
            text-align: center;
            padding: $gap-xs 0;
            line-height: 1;
        }
        .month {
            text-transform: uppercase;
            background-color: $secondary-background-color;
        }
        .date {
            color: $light-font-color;
            background-color: red;
        }
        & + .card-text {
            padding-left: $gap;
            width: 80%;
            float: right;
        }
    }
    &-text {
        //@include border($dir: top);
        position: relative;
        padding: $card-text-padding;
        > *:last-child {
            margin-bottom: 0;
        }
        ul,
        ol {
            @include resetList();
        }
        // > p.bottom {
        //     position: absolute;
        //     bottom: $card-text-padding-vertical;
        //     left: $card-text-padding-horizontal;
        //     right: $card-text-padding-horizontal;
        // }
        // .link {
        //     float: right;
        //     @include animateLine($time: 0.3s);
        // }
        img {
            max-width: 100%;
            width: auto;
        }
    }
    // &-tag {
    //     z-index: 3;
    //     pointer-events: none;
    //     position: absolute;
    //     padding: $gap-half $gap;
    //     background-color: $base-brand-color;
    //     color: $card-secondary-color;
    //     bottom: 0;
    //     left: 0;
    //     text-transform: uppercase;
    // }
    &-anchor,
    &-lightbox {
        .card-link {
            @include coverAll();
        }
        .card-image {
            z-index: 1;
            a {
                display: block;
                z-index: 1;
            }
            > div {
                pointer-events: none;
            }
            &-overlay {
                //z-index: 2;
                @include coverAll();
                @include transition(background-color);
                background-color: rgba($black, 0.1);
                .card-icon {
                    @include createCircle($background-color: rgba($black, 0.4), $diameter: $gap-triple, $color: $card-secondary-color, $border: 4px solid $card-secondary-color);
                    display: inline-block;
                    .no-touch & {
                        @include transition(background-color);
                    }
                }
                .icon-play3 {
                    font-size: $gap-xl;
                    margin-left: 2px;
                }
                .no-touch &.hover,
                .has-touch & {
                    background-color: rgba($black, 0);
                    .card-icon {
                        background-color: rgba($black, 0.7);
                    }
                }
            }
        }
        // zoom effect on images
        .no-touch & {
            .background-image {
                @include transition(transform, 0.4s, $easeOutSine);
                //@include forceHarwareAcceleration();
                will-change: transform;
            }
            &.hover {
                .background-image {
                    @include scale(1.12);
                }
            }
        }
    }
    &-overlay {
        .card-text {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba($card-background-color, $card-overlay-opacity);
            @include breakpoint($breakpoint-md) {
                background-color: $card-background-color;
                position: relative;
                bottom: auto;
            }
        }
    }
    &-product,
    &-product-support {
        .card-top {
            text-align: center;
            padding-bottom: $gap;
            .title {
                text-transform: uppercase;
                color: $secondary-font-color;
                @extend .bold;
                > span {
                    color: $base-brand-color;
                }
            }
            .subtitle {
                margin-bottom: 0;
            }
        }
    }
    // &-top {}
    &-product {
        //cursor: pointer;
        padding-bottom: $gap-double;
        @include border($dir: bottom);
    }
    &-product-small {
        .background-image {
            min-height: $card-product-small-image-height;
        }
    }
    &-product-support {
        .card-link {
            z-index: 1;
        }
        .card-top {
            padding-bottom: 0;
        }
        .title {
            margin-bottom: 0;
        }
        .background-image {
            background-size: contain;
            min-height: $card-product-support-image-height;
            @include scale(0.9);
        }
        // zoom effect on images
        .no-touch & {
            .background-image {
                @include transition(transform, 0.2s, $easeOutSine);
            }
            &.hover {
                .background-image {
                    @include scale(1);
                }
            }
        }
    }
    &-support {
        .background-image {
            min-height: $card-support-icon-height;
        }
        > .card {
            &-text {
                text-align: center;
                > h3 {
                    @extend .bold;
                }
                // a {
                //     @include hoverLink($button-square-background-color,$button-square-hover-background-color)
                // }
            }
            &-image {
                z-index: 0;
                .icon-center > .icon-circle {
                    background-color: transparent;
                    color: $base-brand-color;
                    border: 2px solid $base-brand-color;
                    @at-root .hover#{&} {
                        color: $base-brand-color-dark;
                        border-color: $base-brand-color-dark;
                    }
                }
            }
        }
        .link {
            text-decoration: none;
        }
        &.hover {
            .link {
                color: $base-brand-color-dark;
            }
        }
    }
    &-horizontal {
        width: 100%;
        display: table;
        table-layout: fixed;
        position: relative;
        > .card {
            &-link,
            &-image,
            &-text {
                display: table-cell;
                overflow: hidden;
                width: 50%;
                vertical-align: middle;
                text-align: left;
            }
            &-image {
                width: $card-horizontal-image-size;
                .background-image {
                    min-height: $card-horizontal-image-min-height;
                    background-size: contain;
                }
            }
            &-text {
                width: $card-horizontal-text-size;
            }
        }
        &-break {
            &-lg {
                @include breakpoint($breakpoint-lg) {
                    @include breakTable();
                }
            }
            &-md {
                @include breakpoint($breakpoint-md) {
                    @include breakTable();
                }
            }
            &-sm {
                @include breakpoint($breakpoint-sm) {
                    @include breakTable();
                }
            }
        }
    }
    &-list-item-image {
        //padding: $gap 0;
        > .card {
            &-image {
                width: $card-list-item-image-size;
                .background-image {
                    min-height: $card-list-item-image-min-height;
                    background-size: cover;
                }
            }
            &-text {
                padding: 0 0 0 $gap-sm;
                width: $card-list-item-text-size;
                vertical-align: top;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    &-list-item-text {
        > .card {
            &-text {
                padding: 0;
                vertical-align: top;
                p {
                    margin-bottom: 0;
                }
                &:nth-child(1) {
                    width: $card-list-item-text-first-size;
                }
                &:nth-child(2) {
                    width: $card-list-item-text-second-size;
                    padding: 0 $gap-sm;
                }
                &:nth-child(3) {
                    width: $card-list-item-text-third-size;
                }
            }
        }
    }
    &-contact {
        padding: $gap 0;
        > .card {
            &-image {
                width: $card-contact-image-size;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
                // .background-image {
                //     min-height: $card-contact-image-min-height;
                // }
            }
            &-text {
                padding: 0 0 0 $gap-sm;
                width: $card-contact-text-size;
                @extend .small;
                @extend .medium;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    &-contact-row {
        padding: $gap 0;
        > .card {
            &-image {
                width: $card-contact-row-image-size;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
                // .background-image {
                //     min-height: $card-contact-image-min-height;
                // }
            }
            &-text {
                padding: 0 0 0 $gap-sm;
                width: $card-contact-row-text-size;
                p {
                    margin-bottom: 0;
                    &.name,
                    &.email,
                    &.phone {
                        @extend .medium;
                    }
                }
            }
        }
    }
    &-news-list-item {
        > .card {
            &-text {
                @extend .small;
                @extend .medium;
            }
        }
    }
    &-event-list-item {
        > .card {
            &-text {
                p {
                    font-size: $base-font-size;
                    @extend .normal;
                    &:last-child {
                        margin-top: $gap-half;
                    }
                }
                .title {
                    @extend .medium;
                }
            }
        }
    }
    &-news-list-item,
    &-event-list-item,
    {
        padding: $gap 0;
        > .card {
            &-image,
            &-date {
                width: $card-news-list-item-image-size;
                .background-image {
                    min-height: $card-news-list-item-image-min-height;
                    background-size: cover;
                }
            }
            &-text {
                padding: 0 0 0 $gap-sm;
                width: $card-news-list-item-text-size;
                p {
                    margin-bottom: 0;
                }
            }
            &-date {
                padding: 0;
            }
        }
    }
    &-news {
        .background-image {
            min-height: $card-news-image-min-height;
        }
        .card-button {
            a {
                //@include underlineLink();
                //@include animateLine();
            }
        }
        > .card {
            &-text {
                h3 {
                    @extend .medium;
                }
            }
        }
    }
    &-contact-big {
        .background-image {
            min-height: 0;
            padding-top: 56.25%;
        }
        > .card {
            &-text {
                h3 {
                    @extend .medium;
                }
            }
        }
    }
    &-academy {
        &:not(.academy-featured) {
            .background-image {
                min-height: 0;
                padding-bottom: 56.25%;
            }
            @include border($dir: top);
        }
        > .card {
            &-text {
                padding-bottom: $gap-half;
                padding-top: $gap-md;
                .title {
                    @extend .bold;
                }
                .summary {
                    @extend .large;
                }
            }
            &-top {
                .tag {
                    vertical-align: top;
                }
            }
            &-button {
                > a {
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
        }
    }
    &-compare {
        > .card {
            &-image {
                width: $card-compare-image-size;
                padding: $gap-xs;
                @include border();
                .background-image {
                    min-height: $card-compare-image-min-height;
                }
            }
            &-text,
            &-link {
                @extend .overflow-ellipsis;
            }
            &-text {
                padding: 0 $gap;
                width: $card-compare-text-size;
            }
            &-link {
                width: $card-compare-link-size;
                text-align: right;
                a {
                    @include animateLine();
                }
            }
        }
    }
    &-compare-product {
        .background-image {
            min-height: $card-compare-product-image-min-height;
            background-size: contain;
        }
    }
    &-accessories {
        .background-image {
            min-height: $card-accessories-image-height;
        }
        .card-image {
            z-index: 0;
        }
        .card-text {
            padding-bottom: 0;
        }
    }
    &-uc-info {
        > .card {
            &-image {
                padding-top: $gap;
                vertical-align: top;
                width: $card-uc-info-image-size;
                .background-image {
                    height: $card-uc-info-image-height;
                }
            }
            &-text {
                vertical-align: top;
                width: $card-uc-info-text-size;
                @include breakpoint($breakpoint-md, false) {
                    padding-left: $gap;
                }
            }
        }
    }
    &-product-info {
        > .card {
            &-image {
                width: $card-product-info-image-size;
                .background-image {
                    height: $card-product-info-image-height;
                    //max-height: $card-product-info-image-max-height;
                    //min-height: $card-product-info-image-min-height;
                }
            }
            &-text {
                padding: $gap;
                //vertical-align: top;
                width: $card-product-info-text-size;
                // &:nth-child(2){ //if text is on the right side
                //     padding-right: 0;
                // }
                // &:nth-child(1){ //if text is on the left side
                //     padding-left: 0;
                // }
                .featureslist {
                    margin-bottom: $gap-double;
                    margin-top: $gap-double - $gap-half;
                    > li:last-child {
                        > * {
                            margin-bottom: 0;
                        }
                    }
                }
                > p {
                    @extend .large;
                }
                .button {
                    margin-top: $gap-half;
                }
            }
        }
    }
    &-product-quote {
        > .card {
            &-image {
                width: $card-product-quote-image-size;
                .background-image {
                    height: $card-product-quote-image-height;
                    //max-height: $card-product-quote-image-max-height;
                    //min-height: $card-product-quote-image-min-height;
                }
            }
            &-text {
                padding: $gap;
                width: $card-product-quote-text-size;
                h2 {
                    margin-bottom: 0;
                }
                img {
                    padding-top: $gap;
                }
            }
        }
    }
    &-youtube {
        > .card {
            &-image {}
            &-text {
                h3,
                a {
                    @extend .bold;
                }
                a {
                    display: inline-block;
                    @include hoverLink($base-brand-color, $base-brand-color-dark);
                }
                .label-with-icon > *:nth-child(1) {
                    padding-right: $gap-xs;
                }
            }
        }
    }
}
