.page-footer {
    position: relative;
    background-color: $footer-background-color;
    ul,
    ol {
        @include resetList();
    }
    // @include headings,
    // p {
    //     color: $footer-color;
    // }
    a {
        @include setFont($heading-font-name);
        @include hoverLink($footer-color);
        font-size: $large-font-size-heading !important;
    }
    // .logo {
    //     > img {
    //         width: $footer-logo-width;
    //     }
    // }
    .footer {
        &-top {
            padding-top: $page-section-padding + 8px;
        }
    }
    .logo-column {
        @include breakpoint($breakpoint-lg) {
            > a {
                float: right;
                margin-right: $gap-double;
                img {
                    display: inline-block;
                    height: 33px;
                    width: auto;
                }
            }
        }

        @include breakpoint($breakpoint-ph) {
            > a {
                float: left;
                margin-right: 0;
                img {
                    //height: 37px;
                }
            }
        }
    }
}
