.page-footer {
    position: relative;
    background-color: $footer-background-color;
    ul,
    ol {
        @include resetList();
    }
    // @include headings,
    // p {
    //     color: $footer-color;
    // }
    a {
        @extend .large;
        @include hoverLink($footer-color);
    }
    // .logo {
    //     > img {
    //         width: $footer-logo-width;
    //     }
    // }

    .footer {
        &-top {
            padding-top: $page-section-padding*2;
        }
    }
}
