header.page-header {
    background-color: $header-background-color;
    //position: fixed;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000 !important;
    //transition: background-color $base-transition-duration $base-transition-timing, transform 0.4s $easeOutQuad, margin-left 0.3s $easeOutCubic;
    transition: background-color $base-transition-duration $base-transition-timing, transform 0.4s $easeOutQuad;
    transform: translateZ(0);
    &.scrolled:not(.menu-open) {
        background-color: $header-scrolled-background-color;
        border-bottom: $header-scrolled-border-bottom;
        .mobile-extra {
            background-color: rgba($secondary-background-color, 0.95);
        }
    }
    &.slide-up {
        @include translateY(-100%);
    }
    &.page-section {
        border-bottom: $header-bottom-border;
        @include breakpoint($breakpoint-lg) {
            border-bottom: $base-border;
        }
    }
    ul,
    ol {
        @include resetList();
    }
    .section-container {
        padding: 0;
        margin: 0 $gap;
        @include clearfix();
        border-bottom: $base-border;
        @include breakpoint($breakpoint-lg) {
            border-bottom: none;
        }
    }
    .logo-container {
        width: $header-logo-width;
        float: left;
        margin-right: $gap;
        position: relative;
        z-index: 1;
        top: 27px;
        > a {
            display: block;
        }
        @media screen and (max-width: 1024px){
            position: absolute;
            top: -37px;
        }
        @include breakpoint($breakpoint-lg) {
            position: relative;
            margin: 0 auto;
            width: $header-logo-width-lg;
            float: none;
            top: auto;
            padding: 12px $gap;
            @include transition();
            @include sharpen();
        }
    }
    .search-container {
        margin: $gap-half 0;
        float: right;
        display: inline-block;
        @include transition();
        .search {
            float: right;
        }
        .label-with-icon {
            .label {
                width: 0;
                margin: 0;
                padding: 0;
                margin-left: 0;
                border-radius: 0;
                @extend .small;
                background-color: transparent;
                border: none;
                @include border($dir: bottom, $thickness: 1px);
                @include transition($transition-timing: $easeOutSine);
            }
            .icon-container {
                padding-left: $gap;
                color: $base-font-color;
                @include transition(color);
                &:hover {
                    color: $header-submenu-hover-color;
                }
            }
        }
        &.open {
            .label-with-icon {
                .label {
                    padding: 0 $gap-xs;
                    margin-left: $gap;
                    width: 200px;
                }
            }
        }
        &.mobile-search {
            display: none;
            @include breakpoint($breakpoint-lg) {
                //background-color: $header-background-color;
                z-index: 1;
                margin: 0;
                cursor: pointer;
                display: block;
                @include centerVertical();
                top: 29px; //align fix
                right: $page-section-padding;
                .label-with-icon {
                    .label,
                    .icon {
                        font-size: 20px;
                    }
                    .icon {
                        color: $base-font-color;
                        margin-top: -12px; // -5px; //align fix
                    }
                }
                &.open {
                    .label-with-icon {
                        .icon {
                            color: $base-font-color;
                        }
                    }
                }
                @include breakpoint($breakpoint-md) {
                    right: $gap;
                }
            }
        }
    }
    #top-menu,
    #default-menu {
        z-index: 1;
        display: inline-block;
        float: right;
        .menu {
            @include horizontalList();
            > .menu-item {
                margin: $gap-half;
            }
        }
    }
    #top-menu {
        @extend .extra-small;
        @extend .medium;
        .menu-item {
            top: 2px;
            > .text {
                @extend .medium;
                @include hoverLink();
            }
            &.selected {
                @include animateLine($line-color: $base-font-color, $thickness: 2px, $scale: 1, $distance: 3px);
            }
        }
    }
    #default-menu {
        font-size: $header-font-size;
        .menu {
            > .menu-item {
                margin: $gap-lg $gap-half;
            }
        }
        .menu-item {
            position: relative;
            > .text,
            > .button {
                text-transform: $header-text-transform;
                display: block;
                text-decoration: none;
                user-select: none;
                font-size: $h4-font-size;
                @extend .medium;
                letter-spacing: 1px;
            }
            > .text {
                @include hoverLink($header-color, $header-hover-color);
            }
            // > .button {
            //     color: $header-color;
            //     background-color: transparent;
            //     .no-touch & {
            //         &:hover {
            //             color: $button-hover-color;
            //             background-color: $base-brand-color;
            //         }
            //     }
            // }
            &:last-child {
                margin-bottom: 0;
                margin-top: 0;
            }
            a {
                &.selected {
                    @include animateLine($thickness: 2px, $scale: 0.95, $distance: 3px);
                }
            }
            > span {
                cursor: default;
                .submenu-icon {
                    display: inline-block;
                    content: '';
                    @include createTriangle('down', 6px, 6px, $color: $base-brand-color);
                    margin-bottom: 2px;
                    margin-left: $gap-xs;
                }
            }
            .no-touch & {
                > .text {
                    &:hover {
                        color: $header-hover-color;
                    }
                }
            }
            .no-touch & {
                &.has-child {
                    &:hover {
                        > .submenu {
                            visibility: visible;
                            opacity: 1;
                            z-index: 99;
                        }
                    }
                }
            }
            @include headings() {
                cursor: default;
            }
        }
        .submenu {
            $submenu-gap: $gap + $gap-xs - 1px;
            width: 230px;
            display: block;
            position: absolute;
            @include transition();
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            .text {
                white-space: normal;
            }
            .menu-item {
                padding: $gap-half $gap;
                background-color: $header-background-color;
                &:first-child {
                    padding-top: $gap;
                    @include border($dir: top, $thickness: 2px, $color: $base-brand-color);
                }
                &:last-child {
                    padding-bottom: $gap;
                }
            }
            &:before {
                height: $submenu-gap;
                display: block;
                content: '';
                background-color: transparent;
            }
        }
        @include breakpoint($breakpoint-lg) {
            display: none;
        }
    }
    .burger-container {
        cursor: pointer;
        display: none;
        @include centerVertical();
        top: 24px; //$gap + $gap-sm + 2px; //align fix
        left: $page-section-padding;
        padding: $gap;
        padding-left: 0;
        .burger {
            @include burger($color: $base-font-color, $width: 18px, $height: 2px, $gutter: 5px);
        }
        @include breakpoint($breakpoint-lg) {
            display: block;
        }
        @include breakpoint($breakpoint-md) {
            left: $gap;
        }
        &.open {
            .burger {
                @include burger-to-cross($height: 2px, $gutter: 5px);
            }
        }
    }
}

.mobile-extra {
    display: none;
    @include breakpoint($breakpoint-lg) {
        display: block;
        text-align: center;
        background-color: $secondary-background-color;
        ul,
        ol {
            @include horizontalList();
            > li {
                margin-top: $gap-md;
                margin-bottom: $gap-md;
            }
        }
    }
}

#mobile-menu {
    .accordion {
        border: none;
        .menu-item {
            @include border($mobile-menu-border-color, bottom);
            & > {
                a,
                span {
                    padding-top: $mobile-menu-item-padding-vertical;
                    padding-bottom: $mobile-menu-item-padding-vertical;
                    border: none;
                }
            }
        }
    }
    a {
        background-color: transparent;
        @include hoverLink($base-brand-color, $base-brand-color-dark);
        @extend .large;
        @extend .normal;
        pointer-events: auto;
        > span {
            touch-action: none;
            pointer-events: none;
        }
    }
    .content {
        padding-top: $mobile-menu-item-padding-vertical;
        background-color: $mobile-menu-background-color;
        position: absolute;
        left: 0;
        width: $sidenav-width;
        cursor: pointer;
    }
}

.blocker {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba($white, 0.2);
    cursor: pointer;
    z-index: 1004;
}
